@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Grey+Qo&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'EB Garamond', serif;
    font-weight: 400;
    color: #383736;
}

.gallery {
    padding: 10px;
    margin: 10px auto;
    width: 80%;
    display: grid;
    gap: 5px;
    grid-template-areas: 
        "item1 item1 item2"
        "item3 item4 item4"
        "item5 item6 item6";
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 200px 150px 250px;
}

.gallery span {
    display: block;
    overflow: hidden;
}

.gallery span img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 3px;
}

#item1 {
    grid-area: item1;
}

#item2 {
    grid-area: item2;
}

#item3 {
    grid-area: item3;
}

#item4 {
    grid-area: item4;
}

#item5 {
    grid-area: item5;
}

#item6 {
    grid-area: item6;
}


  
  